<body class = "booking">
    <div class="container-fluid">
        <div class="card-body">
            <img src="assets/sbi.jpg" width="400" height="180" class="center" />
            <div class ="card-details">
                <form >
                    <br/>
                    <label for="name" class="form-label">NAME ON THE CARD</label>
                    <input type="text" formControlName="id" class="form-control" id="id" placeholder="Enter the name on the card" ngModel required><br/> 
                    
                    <label for="exampleFormControlInput1" class="form-label">CARD NUMBER </label>
                    <input type="text" formControlName="source" class="form-control" id="source" placeholder="Enter Card number" ngModel required> <br/>
                
                    <label for="exampleFormControlInput1" class="form-label">CVV </label>
                    <input type="text" formControlName="source" class="form-control" id="source" placeholder="Enter CVV" ngModel required> <br/>
                
                        
                </form>
            </div>          
        </div>
       <!---<button type="button" class="btn btn-success"  (click)="addOrder()"><i class="fa fa-check"></i> Confirm </button>-->
        <!-- <button type="submit" (click)="bookTicket()">Confirm</button>-->
        <a href="/payment" class="btn btn-primary">Pay with Credit Card</a>
    </div>

</body>
    