<body class = "booking">
    <div class="container-fluid">
        <div class="card-body">
            <img src="assets/PaytmLogo.png" width="400" height="180" class="center" />
            <div class ="card-details">
                <form >
                    <label for="name" class="form-label">MOBILE NUMBER</label>
                    <input type="text" formControlName="id" class="form-control" id="id" placeholder="Enter your mobile number" ngModel required><br/> 
                    
                    <label for="exampleFormControlInput1" class="form-label">FOUR DIGIT PIN </label>
                    <input type="text" formControlName="source" class="form-control" id="source" placeholder="Enter four digit PIN" ngModel required> <br/>
                
                        
                </form>
            </div>          
        </div>
       <!---<button type="button" class="btn btn-success"  (click)="addOrder()"><i class="fa fa-check"></i> Confirm </button>-->
        <!-- <button type="submit" (click)="bookTicket()">Confirm</button>-->
        <a href="/payment" class="btn btn-primary">Pay with Paytm</a>
    </div>

</body>
    