

<nav class="navbar">
    
    <div class="logo"> TRAVEGO </div>
    <ul>
        <li> <a  routerLink="/home-slider">
            <img src="assets/home_white_24dp.svg" width="30" height="30" > Home
        </a>
        </li>
            <li><a  routerLink="/train-list"> 
                <img src="assets/icons8-search.svg" width="30" height="30" >Train Availability </a></li>
                <li><a routerLink="/favourites">
                    <img src="assets/user-plus (1).svg" width="30" height="30" > Register</a> </li>
                    <li><a routerLink="/addbook">
                        <img src="assets/icons8-ticket-confirmed-100.png" width="30" height="30" > Book Train Tickets</a> </li>
                        <li><a routerLink="/addbook">
                            <img src="assets/credit-card.svg" width="30" height="30" > Payment </a> </li>
                            <li><a routerLink="/addbook">
                                <img src="assets/icons8-admin-settings-male-50.png" width="30" height="30" > Admin</a> </li>
    </ul>

</nav>   


  
  


