

<nav class="navbar navbar-dark bg-dark">
    
    <div class="logoText"> TRAVEGO </div>
    <ul>
        <li> <a  routerLink="/home-slider">
            <img src="assets/house.png" width="40" height="40" > Home
        </a>
        </li>
            <li><a  routerLink="/train-list"> 
                <img src="assets/seo.png" width="40" height="40" > Train Availability </a></li>
                <li><a routerLink="/favourites">
                    <img src="assets/login.png" width="50" height="50" > Register/Login </a> </li>
                    <li><a routerLink="/ticketbooking">
                        <img src="assets/travel.png" width="40" height="40" > Book Train Tickets</a> </li>
                            <li><a routerLink="/admin">
                                <img src="assets/software-engineer.png" width="40" height="40" > Admin</a> </li>
    </ul>

</nav>   


  
  


