
 <div class="search">
  <form>
  <input type="text" class ="form-control" name="search" [(ngModel)] ="searchText" placeholder="Search by Train ID">
</form>
</div>
 <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">TRAIN ID</th>
      <th scope="col">TRAIN NAME</th>
      <th scope="col">SOURCE</th>
      <th scope="col">DESTINATION</th>
      <th scope="col">RUN DAYS</th>
      <th scope="col">ARRIVAL TIME</th>
      <th scope="col">DEPARTURE TIME</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of trainList | filter:searchText | paginate: { 
      itemsPerPage: 10, 
      currentPage: page,
      totalItems:totalLength 
    };">
      <td>{{e.trainid}}</td>
      <td>{{e.trainName}}</td>
      <td>{{e.source}}</td>
      <td>{{e.destination}}</td>
      <td>{{e.runDays}}</td>
      <td>{{e.arrivalTime}}</td>
      <td>{{e.departureTime}}</td>
    </tr>
    
  </tbody>
</table>


<pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

<!--
<div class="search">
  <input type="text" name="search" [(ngModel)] ="searchText" placeholder="Search by Train ID">
</div>-->